<ng-container *ngIf="splashScreen">
  <app-splashscreen></app-splashscreen>
</ng-container>
<ng-container *ngIf="!splashScreen">
  <div class="row header">
    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 no-padding">
      <img alt="blub" src="../../../assets/imgs/light-bulb.svg" height="34px" width="34px">
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 pull-left no-padding">
      <div class="header-innovation-text">
        Innovation HUB
      </div>
    </div>
    <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5 no-padding">
      <button class="btn btn-danger pull-right" style="float: right;" (click)="scrollTo('.footer')">Submit Idea</button>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row" *ngIf="!userClickYes" [@fadeInOut]>
      <div class="col-md-12 no-padding">
        <div class="do-you">
          <div class="center-parent">
            <div class="center-content">
              <div class="main-content" *ngIf="showContent === 1">
                <div class="logo">
                  <img src="../../../assets/imgs/conference.svg" height="180px" width="180px">
                </div>
                <div class="logo-title">
                  <h3>Do you want to be a <span class="po">PO</span> your own idea?</h3>
                </div>
              </div>
              <div class="main-content" *ngIf="showContent === 2">
                <div class="logo">
                  <img src="../../../assets/imgs/trophy.svg" height="120px" width="120px">
                </div>
                <div class="logo-title">
                  <h3>Do you want to be recognised as a <span class="po">Innvoator</span>?</h3>
                </div>
              </div>
              <div class="main-content" *ngIf="showContent === 3">
                <div class="logo">
                  <img src="../../../assets/imgs/gem.svg" height="120px" width="120px">
                </div>
                <div class="logo-title">
                  <h3>Do you want to earn <span class="po">TCS Gems</span>?</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="yes-button">
            <button id="yesIwant" class="btn btn-success btn-lg" (click)="yesIwant()">Know the Process</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="userClickYes" [@fadeInOut]>
      <div class="content-wraper">
        <div class="col-md-12 no-padding">
          <div class="div-style do-you-second">
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-4 col-ld-4 fade-in one">
                <img src="../../../assets/imgs/conference.svg" height="84px" width="84px">
                <h3 class="do-you-points">Be the PO your own idea</h3>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-4 col-ld-4 fade-in two">
                <img src="../../../assets/imgs/trophy.svg" height="84px" width="84px">
                <h3 class="do-you-points">Get recognised as a Innovator</h3>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-4 col-ld-4 fade-in three">
                <img src="../../../assets/imgs/gem.svg" height="84px" width="84px">
                <h3 class="do-you-points">Win the TCS Gems</h3>
              </div>
            </div>
            <div class="col-md-12 no-padding card-top">
              <div class="scrolling-wrapper">
                <div class="col-container">
                  <div class="col card">
                    <h2 class="card-title" (click)="scrollTo('.card2')">Phase 1
                      <img class="pull-right" src="../../../assets/imgs/right-chevron.svg" height="22px" width="22px"
                        class="blink">
                    </h2>
                    <img src="../../../assets/imgs/idea.svg" height="80px" width="80px">
                    <div class="card-body">
                      <h2 class="card-subtitle">What can classify as an Idea ?</h2>
                      <div class="points">
                        <ul>
                          <li>Solves pain points in existing process/ implementation.</li>
                          <li>Can be anything out of the box/ unrelated to regular work but somehow relevant to airline
                            business
                            domain.</li>
                          <li>Can be a totally new technology trend.</li>
                          <li>Can be an existing idea but totally new to KLM or airline business domain.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col card card2">
                    <h2 class="card-title" (click)="scrollTo('.card3')">Phase 2
                      <img class="pull-right" src="../../../assets/imgs/right-chevron.svg" height="22px" width="22px"
                        class="blink">
                    </h2>
                    <div class="card-body">
                      <img src="../../../assets/imgs/cloud-computing.svg" height="108px" width="80px">
                      <h2 class="card-subtitle">Collection of ideas</h2>
                      <div class="points">
                        <ul>
                          <li>There is no bar on any discipline to come up with an idea.</li>
                          <li>Don’t think about the resources/ workload when proposing the idea, those will be
                            facilitated.</li>
                          <li>Ideas can be submitted offline with short summary & type using provided form.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col card card3">
                    <h2 class="card-title" (click)="scrollTo('.card4')">Phase 3
                      <img class="pull-right" src="../../../assets/imgs/right-chevron.svg" height="22px" width="22px"
                        class="blink">
                    </h2>
                    <div class="card-body">
                      <img src="../../../assets/imgs/presentation.svg" height="96px" width="96px">
                      <h2 class="card-subtitle">Presentation & Shortlisting</h2>
                      <div class="points" style="font-size: 0.9em;">
                        <ul>
                          <li>A bi weekly connect to provide a pitching platform.</li>
                          <li>Shortlisting based on uniqueness, potential & feasibility.</li>
                          <li>If there is no challenge in implementation of an idea it can be pursued by the individual</li>
                          <li>Shortlisted Ideas which need support will be facilitated resources</li>
                          <li>Ideas can be improvised & shortlisted based on criteria.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col card card4">
                    <h2 class="card-title" (click)="scrollTo('.card5')">Phase 4
                      <img class="pull-right" src="../../../assets/imgs/right-chevron.svg" height="22px" width="22px"
                        class="blink">
                    </h2>
                    <div class="card-body">
                      <img src="../../../assets/imgs/development.svg" height="93px" width="93px">
                      <h2 class="card-subtitle">Development & Internal Demo</h2>
                      <div class="points" style="font-size: 0.82em;">
                        <ul>
                          <li>Small team will be assigned to develop idea into working prototype.</li>
                          <li>Scope & Timeline should be agreed upon by development team & management.</li>
                          <li>Once team has the prototype ready, there will be an internal demo & review will be done.</li>
                          <li>When a working prototype has been refined & finalised it can be presented to other
                            stakeholders
                            (Eg. Other
                            business domains within TCS KLM account, Other TCS accounts).</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col card card5">
                    <h2 class="card-title" (click)="scrollTo('.incentives')">Phase 5
                        <img class="pull-right" src="../../../assets/imgs/right-chevron.svg" height="22px" width="22px"
                          class="blink"></h2>
                    <div class="card-body">
                      <img src="../../../assets/imgs/digital-campaign.svg" height="67px" width="67px">
                      <h2 class="card-subtitle" style="font-size: 20px;">Marketing & demos with Stake holders</h2>
                      <div class="points" style="font-size: 0.95em;">
                        <ul>
                          <li>Demo slots on prominent forums across KLM B2C or B2E domains.</li>
                          <li>Presentations to key KLM Stakeholders facilitated by TCS management.</li>
                          <li>Entry to TCS internal innovation forums eg. Innovista.</li>
                          <li>Entry to in TCS Innovation Incubator app which is viewed by every prominent client
                            visitor
                            of
                            TCS
                            KLM
                            Chennai office.
                          </li>
                          <li>Visibility to senior TCS Management levels.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 no-padding">
          <div class="incentives">
            <img src="../../../assets/imgs/police-badge.svg" height="60px" width="60px">
            <img src="../../../assets/imgs/clap.svg" height="60px" width="60px">
            <img src="../../../assets/imgs/medal.svg" height="60px" width="60px">
            <h2>Incentives</h2>
            <div class="incentives-point">
              <ul>
                <li>TCS Gems for top ideas.</li>
                <br>
                <li>Recognition across TCS KLM account.</li>
                <br>
                <li>Chance to be featured in TCS Innovation Incubator app which provides visibility on both KLM &
                  TCSManagement
                  levels.</li>
                <br>
                <li>Increased Job Satisfaction & Motivation.</li>
                <br>
                <li>Possibilities to be involved in & drive implementation of new Opportunities arising out of idea.
                </li>
                <br>
                <li>Feel like a product owner of your Idea!.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-12 no-padding footer">
          <div class="submit-idea">
            <h2 class="submit-idea-title">Submit Your Idea !</h2>
            <app-blub [isBlubOn]="isBlubOn" (click)="submitIdea()"></app-blub>
            <div class="submit-text">
              Press the Blub to submit your Idea !
              <!-- <button id="submit" class="btn btn-success btn-lg" (click)="submitIdea()">Submit</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
